$primary-color: #2ec4b6;
$secondary-color: #e71d36;
$tertiary-color: #ff9f1c;
$light-color: #fdfffc;
$dark-color: #011627;

$theme-colors: (
  "primary": $primary-color,
  "secondary": $secondary-color,
  "info": $tertiary-color,
  "light": $light-color,
  "dark": $dark-color,
);

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "futura";
  color: $dark-color;
  background-color: $light-color;
}

.shadow {
  box-shadow: 2px 2px 5px $dark-color;
}

h1 {
  font-weight: 900;
}

a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
