$primary-color: #14213d;
$secondary-color: #e3ebeb;
$tertiary-color: #fca311;
$light-color: #ffffff;
$dark-color: #000000;

$theme-colors: (
  "primary": $primary-color,
  "secondary": $secondary-color,
  "info": $tertiary-color,
  "light": $light-color,
  "dark": $dark-color,
);

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "muli";
  color: $dark-color;
  background-color: $secondary-color;
}

.shadow {
  box-shadow: 2px 2px 5px $dark-color;
}

h1 {
  font-weight: 900;
}

.custom-shape-divider-bottom-1610988694 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1610988694 svg {
  position: relative;
  display: block;
  width: calc(132% + 1.3px);
  height: 54px;
}

.custom-shape-divider-bottom-1610988694 .shape-fill {
  fill: $primary-color;
}

.opacity {
  opacity: 0.4;
}
